﻿<div id="vt-footer-container" class="cls-container-footer-2">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="vt-center">
                <div class="vt-brand">
                    <p><strong>Địa chỉ :</strong> 92 Quang Trung, Q. Hải Châu, TP. Đà Nẵng - <strong>Điện thoại :</strong> 02363 888 279</p>
                    <p><strong>Email :</strong>  <a href="mailto:contact@iviettech.vn">contact@iviettech.vn</a></p>
                </div>
                <p class="copyright">Bản quyền thuộc về <a href="http://iviettech.vn">iViettech</a></p>
            </div>
        </div>
    </div>
</div>