﻿<div id="vt-head-container">

    <div class="vt-center">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="Content/image/logo.png" />
        </div>
    </div>

</div>