﻿
<div class="container-fluid" ng-controller="ctr_employeeinfo as vm">
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label for="usr">EmployeeID:</label>
                <input type="text" class="form-control " id="usr" ng-model="vm.data.employeeID">
            </div>
            <div class="form-group">
                <label for="usr">Full Name:</label>
                <input type="text" class="form-control " id="usr" ng-model="vm.data.fullName">
            </div>
            <div class="form-group">
                <label for="usr"> Basic Salary:</label>
                <input type="text" class="form-control " interger id="usr" ng-model="vm.data.salary">

                <!--<input type="datetime-local" class="form-control " id="exampleInput" name="input"
                       placeholder="dd-MM-yyyy" min="2001-01-01" max="2013-12-31" required=required />-->
            </div>
            <div class="form-group">
                <label for="usr">Address:</label>
                <input type="text" class="form-control"
                       ng-model="vm.data.address" my-Number required=required />
            </div>
            <div class="form-group">
                <label for="usr">Phone Number:</label>
                <input type="text" class="form-control" id="usr" ng-model="vm.data.phone">
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="usr">Employee Type:</label>
                <select ng-model="vm.data.id" class="form-control">
                    <!--<option value="">--- Select an option ---</option>-->
                    <option ng-repeat="item in vm.data.list" ng-selected="{{vm.data.id === item.id}}" value="{{item.id}}">{{item.name}}</option>
                </select>
                <p>{{vm.data.id}}</p>
                <!--<input type="text"  id="usr" ng-model="vm.data.employeeType">-->
            </div>
            <div class="form-group">
                <label for="usr">Transaction Name:</label>
                <input type="text" class="form-control " id="usr" ng-model="vm.data.transaction">
            </div>
            <div class="form-group">
                <label for="usr">Employee Level:</label>
                <input type="text" class="form-control " ng-model="vm.data.employeeLevel" />
            </div>
            <div class="form-group">
                <label for="usr">Working Type:</label>
                <input type="text" class="form-control"
                       ng-model="vm.data.workingType" my-Number required=required />
            </div>
            <div class="form-group">
                <label for="usr">Contract Category</label>
                <input type="text" class="form-control" id="usr" ng-model="vm.data.contractCategory">
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:20px; margin-right: 20px; margin-bottom: 10px">
        <a href="#" class="btn btn-info col-md-12" role="button">View Employee Info</a>
    </div>
    <div class="i-bg-white padded">
        <div class="set-obj-action">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">Set Objective</div>
                <div class="col-xs-6 col-sm-3 col-md-3">01/01/2017</div>
                <div class="col-xs-3 col-sm-1 col-md-2"><a href="#"><i class="fa fa-bell"></i></a></div>
                <div class="col-xs-3 col-sm-2 col-md-2"><button class="btn btn-success">Action</button></div>
            </div>
        </div>
        <div class="set-obj-action">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">Self Appraisal</div>
                <div class="col-xs-6 col-sm-3 col-md-3">01/01/2017</div>
                <div class="col-xs-3 col-sm-1 col-md-2"><a href="#"><i class="fa fa-bell"></i></a></div>
                <div class="col-xs-3 col-sm-2 col-md-2"><button class="btn btn-success">Action</button></div>
            </div>
        </div>
        <div class="set-obj-action">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">Competency Appraisal</div>
                <div class="col-xs-6 col-sm-3 col-md-3">01/01/2017</div>
                <div class="col-xs-3 col-sm-1 col-md-2"><a href="#"><i class="fa fa-bell"></i></a></div>
                <div class="col-xs-3 col-sm-2 col-md-2"><button class="btn btn-success" disabled>Action</button></div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="i-bg-white padded">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Performance Appraisal</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">Performance Appraisal 2017</a>
                        </td>
                        <td align="center">
                            <span class="text-danger"><strong>Pending</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Performance Appraisal 2016</a>
                        </td>
                        <td align="center">
                            <span class="text-success"><strong>Done</strong></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
