﻿
<div class="container-fluid">
    <div class="emp-card clearfix i-bg-white padded">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="../Content/image/ava-l.jpg"  class="img-responsive img-profile" style="max-height:100px;"/>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 form-group">
                    <div class="row">

                        <div class="col-xs-12 col-sm-5 col-md-3"><div class="show-content">00001</div></div>
                        <div class="col-xs-12 col-sm-7 col-md-6"><div class="show-content">Phan Thanh Thu Nga</div></div>
                        <div class="col-xs-12 col-sm-5 col-md-3"><div class="show-content">Designer</div></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-6"><div class="show-content">Design Department</div></div>
                        <div class="col-xs-12 col-sm-5 col-md-6"><div class="show-content">Senior Manager</div></div>
                    </div>

            </div>
        </div>
        <div class="right-action">
            <div class="status success">Completed</div>
            <div class="padded-row">
                Due Date: &nbsp; <span class="text-primary">01/10/2017</span>
            </div>
        </div>
    </div>
    <div class="emp-card clearfix i-bg-white padded">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="../Content/image/ava-l.jpg" class="img-responsive img-profile" style="max-height:100px;" />
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 form-group">
                <div class="row">

                    <div class="col-xs-12 col-sm-5 col-md-3"><div class="show-content">00001</div></div>
                    <div class="col-xs-12 col-sm-7 col-md-6"><div class="show-content">Phan Thanh Thu Nga</div></div>
                    <div class="col-xs-12 col-sm-5 col-md-3"><div class="show-content">Designer</div></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-6"><div class="show-content">Design Department</div></div>
                    <div class="col-xs-12 col-sm-5 col-md-6"><div class="show-content">Senior Manager</div></div>
                </div>

            </div>
        </div>
        <div class="right-action">
            <div class="status success">Completed</div>
            <div class="padded-row">
                Due Date: &nbsp; <span class="text-primary">01/10/2017</span>
            </div>
        </div>
    </div>
    <div class="emp-card clearfix i-bg-white padded">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="../Content/image/ava-l.jpg" class="img-responsive img-profile" style="max-height:100px;" />
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 form-group">
                <div class="row">

                    <div class="col-xs-12 col-sm-5 col-md-3"><div class="show-content">00001</div></div>
                    <div class="col-xs-12 col-sm-7 col-md-6"><div class="show-content">Phan Thanh Thu Nga</div></div>
                    <div class="col-xs-12 col-sm-5 col-md-3"><div class="show-content">Designer</div></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-6"><div class="show-content">Design Department</div></div>
                    <div class="col-xs-12 col-sm-5 col-md-6"><div class="show-content">Senior Manager</div></div>
                </div>

            </div>
        </div>
        <div class="right-action">
            <div class="status success">Completed</div>
            <div class="padded-row">
                Due Date: &nbsp; <span class="text-primary">01/10/2017</span>
            </div>
        </div>
    </div>
</div>
