@charset "UTF-8";

@font-face {
  font-family: "std-51";
  src:url("fonts/std-51.eot");
  src:url("fonts/std-51.eot?#iefix") format("embedded-opentype"),
    url("fonts/std-51.woff") format("woff"),
    url("fonts/std-51.ttf") format("truetype"),
    url("fonts/std-51.svg#std-51") format("svg");
  font-weight: normal;
  font-style: normal;

}

/*[data-icon]:before {
  font-family: "std-51" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "std-51" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
.icon:before {
  	font-family: "std-51" !important;
  	font-style: normal !important;
  	font-weight: normal !important;
  	font-variant: normal !important;
  	text-transform: none !important;
  	speak: none;
	
	display: inline-block;
	/*width: 16px;
	height: 16px;*/
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1;
	text-decoration: inherit;
	vertical-align: middle;
}

.icon-add-new-employee:before {
  content: "\61";
}
.icon-allowance-and-deduction:before {
  content: "\62";
}
.icon-analyzed:before {
  content: "\63";
}
.icon-back:before {
  content: "\64";
}
.icon-balance-day-off:before {
  content: "\65";
}
.icon-balance-time-sheet:before {
  content: "\66";
}
.icon-check:before {
  content: "\67";
}
.icon-close:before {
  content: "\68";
}
.icon-company:before {
  content: "\69";
}
.icon-company-and-license-management:before {
  content: "\6a";
}
.icon-data-setup:before {
  content: "\6b";
}
.icon-default-working-schedule:before {
  content: "\6c";
}
.icon-download:before {
  content: "\6d";
}
.icon-edit:before {
  content: "\6e";
}
.icon-email-management:before {
  content: "\6f";
}
.icon-email-server-setting:before {
  content: "\70";
}
.icon-employee-competency:before {
  content: "\71";
}
.icon-ess:before {
  content: "\72";
}
.icon-export:before {
  content: "\73";
}
.icon-favorite:before {
  content: "\74";
}
.icon-filter:before {
  content: "\75";
}
.icon-first:before {
  content: "\76";
}
.icon-home:before {
  content: "\77";
}
.icon-import:before {
  content: "\78";
}
.icon-insurance:before {
  content: "\79";
}
.icon-invalid-time-sheet:before {
  content: "\7a";
}
.icon-last:before {
  content: "\41";
}
.icon-leave-entitlement:before {
  content: "\42";
}
.icon-leave-management:before {
  content: "\43";
}
.icon-leave-processing:before {
  content: "\44";
}
.icon-load-assign-shift:before {
  content: "\45";
}
.icon-localization:before {
  content: "\46";
}
.icon-master-payroll:before {
  content: "\47";
}
.icon-match-employee-to-job-competency:before {
  content: "\48";
}
.icon-minus:before {
  content: "\49";
}
.icon-modules-management:before {
  content: "\4a";
}
.icon-ms-confirm:before {
  content: "\4b";
}
.icon-ms-error:before {
  content: "\4c";
}
.icon-ms-information:before {
  content: "\4d";
}
.icon-ms-invalid:before {
  content: "\4e";
}
.icon-ms-successful:before {
  content: "\4f";
}
.icon-ms-warning:before {
  content: "\50";
}
.icon-new-tab:before {
  content: "\51";
}
.icon-next:before {
  content: "\52";
}
.icon-normal-working-schedule:before {
  content: "\53";
}
.icon-organization-chart:before {
  content: "\54";
}
.icon-organization-structure:before {
  content: "\55";
}
.icon-overtime-working-schedule:before {
  content: "\56";
}
.icon-parameters:before {
  content: "\57";
}
.icon-payroll:before {
  content: "\58";
}
.icon-permission-management:before {
  content: "\59";
}
.icon-personal-info:before {
  content: "\5a";
}
.icon-plus:before {
  content: "\30";
}
.icon-print:before {
  content: "\31";
}
.icon-refresh:before {
  content: "\32";
}
.icon-reports:before {
  content: "\33";
}
.icon-resignation:before {
  content: "\34";
}
.icon-retroactive-salary:before {
  content: "\35";
}
.icon-roll-over-leave:before {
  content: "\36";
}
.icon-salary-calculation:before {
  content: "\37";
}
.icon-salary-calculation-casual-labour:before {
  content: "\38";
}
.icon-salary-calculation-resignee:before {
  content: "\39";
}
.icon-salary-comparison:before {
  content: "\21";
}
.icon-salary-withholding:before {
  content: "\22";
}
.icon-save:before {
  content: "\23";
}
.icon-search:before {
  content: "\24";
}
.icon-security:before {
  content: "\25";
}
.icon-service-management-schedule:before {
  content: "\26";
}
.icon-staffing:before {
  content: "\27";
}
.icon-system-option:before {
  content: "\28";
}
.icon-system-setting:before {
  content: "\29";
}
.icon-system-setup:before {
  content: "\2a";
}
.icon-tax-finalization:before {
  content: "\2b";
}
.icon-time-attendance:before {
  content: "\2c";
}
.icon-time-attendance-id:before {
  content: "\2d";
}
.icon-time-sheet:before {
  content: "\2e";
}
.icon-transaction:before {
  content: "\2f";
}
.icon-user:before {
  content: "\3a";
}
.icon-working-hours-adjustment:before {
  content: "\3b";
}
.icon-scheduler-tracking:before {
  content: "\3c";
}
.icon-insurance-calculation:before {
  content: "\3d";
}
.icon-view-master-insurance:before {
  content: "\3f";
}
.icon-insurance-allowance:before {
  content: "\3e";
}
.icon-insurance-information:before {
  content: "\40";
}
.icon-compensation-leave:before {
  content: "\5b";
}
.icon-license-information:before {
  content: "\5d";
}
.icon-workflow:before {
  content: "\5e";
}
.icon-competency:before {
  content: "\5f";
}
.icon-change-password:before {
  content: "\60";
}
.icon-dashboard:before {
  content: "\7b";
}
.icon-logout:before {
  content: "\7c";
}
.icon-user-reference-setting:before {
  content: "\7d";
}
.icon-competency-comparison:before {
  content: "\7e";
}
.icon-import-time-sheet:before {
  content: "\e002";
}
.icon-candidate-database:before {
  content: "\e003";
}
.icon-add-new-candidate:before {
  content: "\e004";
}
.icon-bonus-calculation:before {
  content: "\e005";
}
.icon-interviewing:before {
  content: "\e006";
}
.icon-lock-time-sheet:before {
  content: "\e007";
}
.icon-job-posting:before {
  content: "\e008";
}
.icon-offer:before {
  content: "\e009";
}
.icon-real-time:before {
  content: "\e00b";
}
.icon-service-charge:before {
  content: "\e00c";
}
.icon-pending-hires:before {
  content: "\e00a";
}
.icon-camera:before {
  content: "\e00d";
}
.icon-training-attendance:before {
  content: "\e00e";
}
.icon-training-course:before {
  content: "\e00f";
}
.icon-training-need:before {
  content: "\e010";
}
.icon-training-plan:before {
  content: "\e011";
}
.icon-training-result:before {
  content: "\e012";
}
.icon-report-writer-tool:before {
  content: "\e000";
}
.icon-jingle:before {
  content: "\e014";
}
.icon-jingle-off:before {
  content: "\e015";
}
.icon-benefit-reimbursement:before {
  content: "\e016";
}
.icon-loan:before {
  content: "\e017";
}
.icon-cpf-contribution-data:before {
  content: "\e018";
}
.icon-recruitment:before {
  content: "\e001";
}
.icon-job-requisition:before {
  content: "\e019";
}
.icon-compulsory-program:before {
  content: "\5c";
}
.icon-week:before {
  content: "\e013";
}
.icon-open-report:before {
  content: "\e01b";
}
.icon-month:before {
  content: "\e01c";
}
.icon-lock:before {
  content: "\e01d";
}
.icon-kpi:before {
  content: "\e01e";
}
.icon-forgot-password:before {
  content: "\e01f";
}
.icon-appraisal:before {
  content: "\e020";
}
.icon-emp-kpi:before {
  content: "\e01a";
}
.icon-alert:before {
  content: "\e021";
}
.icon-my-employee-performance:before {
  content: "\e022";
}
.icon-my-performance:before {
  content: "\e023";
}
