@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size:12px;
	color:#555;
	background:#F5F5F5;
	overflow-x:hidden;
	padding-bottom:50px;
}

a:hover {text-decoration:none;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


/*================================ Main ============================*/
/*------ COLOR -----*/
.i-bg-blue {background:#00a0da;}
.i-bg-blue-l {background:#55B6FA;}
.i-bg-red {background:#FC8181;}
.i-bg-green {background:#b3d04f;}
.i-bg-yellow {background:#FFD243;}
.i-bg-white {background:#fff !important;}
.i-bg-grey-l {background:#ECF1F5 !important;}

.text-primary {color:#00b4ff;}
.text-success {color:#67BBB0;}

/*------- PADDING -----*/
.padded {padding:10px !important;}
.padded-row {padding-top:10px !important; padding-bottom:10px;}
.padded-col {padding-left:10px; padding-right:10px;}
.padded-t {margin-top:20px;}
.padded-b {margin-bottom:20px;}

.right {float:right; position:relative;}
.left {float:left; position:relative;}

/* BUTTON
----------------------------------------------- */
.btn {
	height:30px;
	cursor:pointer;
	transition: all 200ms ease-in-out 0s;
	font-size:11px;
	border:0 none;
	border-radius:3px;
}
@media (max-width:768px) {
	.btn {margin-bottom:5px;}
}
.btn-default {
	background:#35ABEB ;
	color:#fff;
}
.btn-default:hover {
	background:#0d74ba;
	border:0 none;
	color:#fff;
}
.btn-success {
	background:#67BBB0 ;
	color:#fff;
}
button[disabled], button[disabled]:hover, button.disabled {background:#efefef;}


/* FORM GROUP
----------------------------------------------- */
.checkbox {margin-top:0; margin-bottom:0;}

label {top:5px; font-weight: normal; color: #888;}
form .form-group label, form .form-group input, form .form-group select, form .form-group textarea, form .form-group .show-content, form .form-group .input-group {
	margin-bottom:15px;
}

@media (min-width:768px) {
	.form-group label {text-align:right; top:5px;}
	.form-group label.left {text-align:left;}
}

input[type="radio"] {top:-3px;}
input, textarea, select, input:hover, textarea:hover, .form-control:hover, input:focus, textarea:focus, .form-control:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none !important;
	outline: 0 none;
}

input, textarea, select {
	border-color: #ccc;
}
input:hover, textarea:hover, .form-control:hover {
	border-color: #000;
}
input:focus, textarea:focus, .form-control:focus {
	border-color: #35ABEB;
}
.form-group input[disabled], .form-group textarea[disabled] {
	border-bottom:#999 solid 1px;
	border-top:transparent;
	border-left:transparent;
	border-right:transparent;
	background:transparent;
	cursor:default;
}
.form-control {height:30px; border-radius:0; font-size:12px;}

.form-group .show-content {border-bottom:#999 solid 1px; height:30px; position:relative; padding: 6px 12px 7px; font-size:12px;}
@media (min-width:768px) {
	.form-group .show-content.no-line {border-bottom:transparent;}
}

.form-group label.required:after {
  content:"*"; color:red; padding-left:5px;
}

.disabled .input-group-addon {background:transparent; border:none;}
.input-group .show-content {margin-bottom:0 !important;}


/*-------------table-----------*/
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td.title  {
    border-bottom-width: 0; background:#E8F5FC; text-align:center; font-weight:bold; vertical-align:middle;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FCEEE3;
}

.tbl-target td { min-width:100px;}

.tbl-target .emp-photo {text-align:center;}
.tbl-target .emp-photo img {position:relative; max-width:90px; max-height:90px; margin-bottom:10px;}
/*-------------end table-----------*/

.logo {
	background:url(../../images/logo.png) #0d74ba no-repeat;
	background-position: 5px -10px;
	position:relative;
	width:229px;
	height:73px;
	float:left;
}
@media (max-width:1024px) {
	.logo {width:130px; background-size: 100px; background-position:5px 5px;}
}

.nav-img img {max-height:35px !important; margin-right:10px;}

/*-----------------------------------*/
.btn-footer {width:100%; position:fixed; bottom:0; padding:10px; background:#ddd; box-shadow:0 1px 3px 2px #B5B5B5; z-index:5000;}

/*-----------------------------------*/
.container-fluid {padding:10px; position:relative;}

/*-----Breadcrumb-----*/
.top-link {background:#fff; padding:10px 5px !important;}
/*-----end Breadcrumb-----*/

.alert-icon {padding-top:15px;}
.badge {
	position:relative;
	top:-10px;
	left:-4px;
	font-size:10px;
	background-color:red;
	border-radius:20px;
}

/*.profile-b {background:#ECF1F5; padding:10px;}*/

.row-lev-1 {background:#F5F5E0;}
.row-lev-2 {background:#F5F5F5;}

.text-danger {color:#BA1307;}

.dashboard .board-con {position:relative; min-height:150px; padding:10px;}

/*----Popup----*/
.popup {border:#fff solid 1px; border-radius:6px;}
.shadow {box-shadow: 1px 1px 5px #B5B5B5;}

.popup .popup-title {
	min-height:40px;
	position:relative;
	padding:10px 15px;
	font-size:18px;
	font-weight:500;
	border-bottom:#ebebeb solid 1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	font-size:14px;
}
.popup  .popup-title, .popup .popup-title a {background:#F7F7F7; color:#333; }

.popup .popup-title i, .popup .popup-title .popup-i-close {color:#C5C5C5;}
.popup-title .popup-i-close { position:absolute; top:15px; right:15px;}
/*----end Popup----*/

/*--ChatBox--*/
.chatbox .popup-title, .chatbox .popup-title a, .chatbox .popup-title i {background:#35ABEB; color:#fff;}

.chat {background:#fff; padding:10px; height:300px; overflow-y:scroll;}
.chat ul {padding-left:0;}
.chat li {list-style:none; border-bottom:#A9C2D3 dotted 1px; padding:10px 0; line-height:18px;}
.chat .header {padding:5px 0;}

.i-feedback {position:fixed; right:15px; bottom:15px; z-index:5000;}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-top: 5px solid #35ABEB;
  margin:0 auto;
}

.i-feedback a {background:#35ABEB; color:#fff; font-weight:bold; display:inline-block; padding:10px; border-radius:3px; /*box-shadow: 1px 1px 5px #B5B5B5;*/}
.i-feedback a:hover {color:#E8A79E; text-decoration:none;}

/*--Message--*/
.message-box .popup-title, .message-box .popup-title a, .message-box .popup-title i {background:#fff; color:#A9C2D3; font-size:14px; border-bottom:#ECF1F5 solid 1px;}
.msg-con {position:relative; padding:15px; font-size:14px;}
.msg-con i {font-size:30px;}

/*--Alert--*/
.alert-box {width:450px;}
.alert-box a:hover {text-decoration:none;}

.alert-con {background:#fff; height:350px; overflow-y:scroll;}
.alert-con ul {padding-left:0;}
.alert-con li {list-style:none; border-bottom:#A9C2D3 dotted 1px; padding:10px; line-height:18px; position:relative; cursor:pointer;}

.alert-con li img {float:left; width:70px; height:auto; margin:0 10px 0 0; border-radius: 35px;}
.alert-con li .right {text-align:right; position:absolute; top:20px; right:10px; max-width:100px;}
.alert-con li .left {max-width: 300px; }
.alert-con li p {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.alert-con h6 {font-weight:bold;}

.alert-danger h6 {color:#a94442;}
.alert-success h6 {color:#3c763d;}
/*--End Alert--*/

.con-lev-1 {background:#ECF1F5; padding:15px; margin-bottom:15px; position:relative; top:0; border:#ddd solid 1px;}
.con-lev-1-con {background:#fff; margin:10px 0;}

.title-level1 a i {font-size:20px; position:relative; top:4px;}
.title-level1 .collapsed i {font-size:20px; color:#35ABEB; cursor:pointer; font-weight:bold; position:absolute; right:15px; top:15px;}
.title-level1 h6 {color:#000; font-size:14px; position:relative; top:-7px;}


/*------*/
.emp-card {position:relative; margin-bottom:10px;}
.emp-photo {text-align:center;}

.right-action {position:absolute; top:10px; right:10px; text-align:right;}
@media only screen and (max-width: 980px) {
	.right-action {max-width:90px;}
}

.img-profile {max-height:200px; min-width:50px;}

@media only screen and (max-width: 768px) {
	.img-profile { max-height:170px; margin-bottom:10px;}
}

.status {padding:10px; margin-bottom:10px; text-align:center;}
.status.danger {color:#D9534F; border:solid #D9534F 1px;}
.status.success {color:#67BBB0; border:solid #67BBB0 1px;}

.set-obj-action {border-bottom:solid #ddd 1px; padding:10px;}
.set-obj-action i.fa-bell {font-size:18px;}

.obj-con {margin:20px 10px; padding-bottom:20px; border-bottom:#67BBB0 solid 2px;}
.con-line {border-top:#A9C2D3 dotted 1px; margin-top:10px; padding-top:10px;}


