﻿/*----- Header -----*/



#vt-head-container{background-color:#fff;color:#333;clear:both;height: 76px;border-bottom:5px solid #ca3438;}



#vt-head-container .vt-center{position:relative;}



#vt-head-container .vt-center{*zoom: 1;}



#vt-head-container .vt-center:before,#vt-head-container .vt-center:after{display: table;line-height: 0;content: "";}



#vt-head-container .vt-center:after {clear: both;}



a#logo{width: 229px;height:47px;display: block;float: left;text-indent:-1987em;background: url(../img/front/sprite.png) no-repeat -20px -473px scroll;margin-top:12px;}

/*--------Main-------*/
#content{
    min-height: 800px
}

/*----- Footer -----*/



#vt-wrapper .container-fluid,#vt-footer-container .container-fluid{padding-left:0;padding-right:0}



#vt-footer-container{color:#fff;clear:both;background-color:#a9a9a9;}



#vt-footer-container .vt-center{height:1%;overflow: hidden;}



#vt-push,#vt-footer-container{height:85px;}



#vt-footer-container p{font-size: 12px}



.vt-brand{float: left;width: 70%;padding: 10px 0 9px}



.vt-brand p a{color: #fff}



p.copyright{margin:0 !important;line-height: 55px;font-size: 12px;float: right;padding-right:70px;}



p.copyright a{color:#fff;}